.not-allowed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Adjust height as needed */
    text-align: center;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .not-allowed-container h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
  }